.canvasWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px;
}

.stage {
  box-shadow: 0 4px 20px var(--shadow);
  border-radius: 2px;
}
